<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>SQLite Rest-API with Javascript</title>
</head>

<body>

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">SQLite Rest-API with Javascript</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/api/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/user/{id}">Add User</a>
        </li>
      </ul>
    </nav>